.tab {
  text-align: center;
  height: auto;
  border-width: 2px;
}
img {
  width:100%;
}
.projects-head {
  margin: 10px;
}
.about-content {
  margin: 10px;
}
.new-project {
  margin:12px;
}
.job-experience {
  margin:10px;
}
